<!DOCTYPE html>
<html>
<head>
  <title>WeFitBitRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <p class="navbar-brand">
          <h3>weFitBit</h3>
        </p>
      </div>
    </nav>
  </div>


<div class="container">

<%= yield %>

</div>

</body>
</html>
